/* Debug */

nav {
    height: 80px;
    background-color: red;
}

#jumbotron {
    height: 590px;
    background-color: pink;
}

#separator-block {
    height: 80px;
    background: lightgreen;
}

main {
    height: 2500px;
    background: lightskyblue;
}

#usp {
    height: 300px;
    background: lightcoral;
}

#large-banner {
    height: 300px;
    background: purple;
}

#long-banner-section {
    height: 700px;
    background: blue;
}

.long-banner {
    height: 100%;
    background: red;
    border: 1px solid black;
}

#goals-table {
    height: 600px;
    background: lightgreen;
}

#get-start {
    height: 600px;
    background-color: greenyellow;
}

footer {
    height: 600px;
    background-color: grey;
}


/* /Debug */


/* Common */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #33475b;
    font-weight: 400;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.container-60 {
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    line-height: initial;
    color: white;
    background-color: #FE785A;
}

.btn-white {
    border: 1px solid #FE785A;
    background-color: white;
    color: #FE785A;
}

.inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Header */

#login-bar {
    background-color: #f4f9fd;
}

header ul {
    display: inline-block;
    line-height: 3;
    list-style: none;
}

header li {
    display: inline-block;
}

#language {
    margin: 0 5px;
}

#vertical-separator {
    height: 20px;
    margin: 0 15px;
    vertical-align: sub;
    border: 1px solid #33475b;
}

#search-symbol {
    color: #00A4BD;
}

ul.float-right>li {
    margin-left: 15px;
}

#login-bar>div:first-child {
    padding: 10px 0;
}

header hr {
    border-color: #32495b;
}


/* Main */


/* Long banner section */

.long-banner {
    width: 24%;
}

#central-banner {
    margin: 0 14%;
}