/* Debug */

#large-banner {
    height: 300px;
    background: purple;
}

#long-banner-section {
    height: 700px;
    background: blue;
}

.long-banner {
    height: 100%;
    background: red;
    border: 1px solid black;
}

#goals-table {
    height: 600px;
    background: lightgreen;
}

#get-start {
    height: 600px;
    background-color: greenyellow;
}

footer {
    height: 600px;
    background-color: grey;
}


/* /Debug */


/* Common */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #33475b;
    font-weight: 400;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-25 {
    width: 25%;
}

.btn {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    line-height: initial;
    color: white;
    background-color: #FE785A;
}

.btn-lg {
    padding: 20px 35px;
}

.btn-white {
    border: 1px solid #FE785A;
    background-color: white;
    color: #FE785A;
}

.btn-center {
    margin: 7% 0 0 30%;
}

.inline-block {
    display: inline-block;
}

.pos-rel {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.block-center {
    display: block;
    margin: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Text rules */

h1 {
    margin: 3% 0;
    font-size: 60px;
    font-weight: 900;
}

h2 {
    margin: 3% 0;
}

h3 {
    margin: 3% 0;
}

p {
    margin: 3% 0;
    font-size: 20px;
}

.text-center {
    text-align: center;
}


/* Header */

#login-bar {
    background-color: #f4f9fd;
}

header ul {
    display: inline-block;
    line-height: 3;
    list-style: none;
}

header li {
    display: inline-block;
}

#language {
    margin: 0 5px;
}

#vertical-separator {
    height: 20px;
    margin: 0 15px;
    vertical-align: sub;
    border: 1px solid #33475b;
}

#search-symbol {
    color: #00A4BD;
}

ul.float-right>li {
    margin-left: 15px;
}

#login-bar>div:first-child {
    padding: 10px 0;
}

header hr {
    border-color: #32495b;
}

nav ul {
    line-height: 5;
}

#jumbotron {
    background: url(../img/jumbotron.png) no-repeat;
    background-position: 100% 21%;
    background-color: #FFF4EF;
}

#separator-block {
    height: 80px;
    border-width: 3px 0;
    border-style: solid;
    border-color: #33475B;
    background: #AFEBEE;
}

#jumbotron>.container {
    margin: 0 10%;
}

#jumbotron div {
    margin: 3% 0;
}

#jumbotron div:last-child {
    padding-bottom: 3%;
}


/* Main */

main {
    background: #F4F9FD
}


/* UPS */

img[src*=cube] {
    display: block;
    padding-top: 2%;
    margin: auto;
    width: 27%;
}


/* Large Banner */

#hubspot-learn-more {
    margin: 0;
}

img[src*=book] {
    margin-top: 6%;
}

#large-banner ul {
    display: inline-block;
    list-style: none;
}

#large-banner li {
    display: inline-block;
}

#large-banner p {
    letter-spacing: 1px;
}


/* Long banner section */

.long-banner {
    width: 24%;
}

#central-banner {
    margin: 0 14%;
}